:root {
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
}
body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  border-radius: 12px;
  background-color: white;
  height: 440px;
  width: 600px;
}
.img-box {
  background: url('./images/image-product-desktop.jpg');
  background-size: cover;
  height: 100%;
  width: 50%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.content {
  width: 50%;
}

.content > div {
  width: 80%;
  margin-inline: auto;
  margin-top: 34px;
}

 footer {
  width: max-content;
  position: absolute;
  bottom: 5px;
}

.title {
  font-family: Fraunces;
  color: var(--very-dark-blue);
  font-size: 34px;
  margin: 0;
  line-height: 1;
  margin-top: 20px;
}
.description,
.badge {
  color: var(--dark-grayish-blue);
}

.badge {
  letter-spacing: 5px;
  font-size: 12px;
}

.description {
  line-height: 1.5;
  font-size: 15px;
}

.price .active {
  color: var(--dark-cyan);
  font-size: 34px;
  font-family: Fraunces;
  margin-right: 15px;
}
.price .disabled {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}

button {
  margin-top: 29px;
  border: none;
  background: var(--dark-cyan);
  color: white;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: hsl(158, 50%, 40%);
}

button:active {
  background:hsl(158, 36%, 37%) ;
}

button img {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 360px;
    height: 600px;
  }
  .card .img-box {
    width: 100%;
    height: 50%;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
  }
  .content {
    width: 100%;
  }
  .card .content > div {
    width: 87%;
    margin-block: 13px;
  }
  .button {
    margin-top: 0;
  }
}
